<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demariodouce.demariodouce_comp304sec003_lab4_ex1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemarioDouce_COMP304Sec003_Lab4_Ex1">
        <activity android:name=".PatientActivity" android:label="Patient" android:parentActivityName=".NurseLoginActivity"></activity>
        <activity
            android:name=".NurseRegisterActivity"
            android:label="Register"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NurseLoginActivity"
            android:label="Login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Test Tracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>